<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head th:fragment="header">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" />
</head>
<body>

<div th:fragment="assets" th:remove="tag">
    <script type="text/javascript"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</div>
</body>

</html>